body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    width: 100vw;
    height: 100vh;
    // height: 100%;
    // width: 100%;
    min-width: 930px;
    min-height: 490px;
    // background-color: #fdfdfd;
    background-color: rgba(0,0,0, 0.3);
}

.n-form-item-label{
    font-size: 1.8rem;
}

.hiden-scroll-bar{
    /* 隐藏滚动条 */
    overflow: hidden;
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
    &::-webkit-scrollbar {
      display: none; /* Chrome Safari */
    }
}

.float-block-white{
  padding: 4px 10px;
  background-color: #fff; //#1a1a1a; //#fff;
  color: #545050;
  border-radius: 6px;
  box-shadow: 0 8px 18px rgba(0,0,0,.2);
}
.float-block{
  padding: 4px 10px;
  background-color: none; //#1a1a1a; //#fff;
  color: #545050;
  border-radius: 6px;
  box-shadow: 0 8px 18px rgba(0,0,0,.2);
}

.n-button {
  margin: 0px 6px;
}


#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  // min-width: 640px;
}
.n-config-provider{
  height: 100%;
}

.scrolle-container{
  /* margin: 40px 0px 10px 0px; */
  margin: 0px;
  -ms-overflow-style: none; /*IE10+*/
  overflow: -moz-scrollbars-none; /* firefox */

  height:800px;
  overflow:auto;
}
/** 隐藏滚动条*/
.scrolle-container::-webkit-scrollbar {
  width: 0 !important; /* 谷歌 safari*/
}

/** markdown 行内代码的样式 */
.inner-line-code{
  // font-size: 0.9em;
  // background-color: #cecece;
  // padding: 2px 4px;
  // border-radius: 2px;
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: #afb8c180;
  border-radius: 6px;
}

/*
.mainBg{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 0;
  left: 0;
}
*/


.icon-op {
  font-size: 1rem;
  .n-icon{
    height: 1rem;
    width: 1rem;
    line-height: 1rem;
    cursor: pointer;
    color: #315eb1;
    vertical-align: text-bottom;
    margin-right: 0.4rem;
  }
}

.icon-label{
  font-size: 1rem;
  margin: 0rem 0.2rem;

  .n-icon{
    height: 1.5rem;
    width: 1.5rem;
    line-height: 1.5rem;
    cursor: pointer;
    color: #45a187;
    vertical-align: text-bottom;
    margin-right: 0.4rem;

    &:hover{
      color: #a7673a;
    }

    svg{
      height: 100%;
      width: 100%;
    }
  }

  a{
    vertical-align: bottom;
    color: #45a187;
    text-decoration: none;
    &:hover{
      color: #a7673a;
    }
  }
}